/* for the header */
@font-face {
  font-family: 'Russo One';
  src: url('./fonts/Russo_One/RussoOne-Regular.ttf');
}
/* Bold */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --light0: #fad6d7;
  --light1: #fd979a;
  --light2: #c85457;
  --dark1: #6b0b11;
  --dark2: #420001;
  --medium: #98272b;
  --text: #6c6c6c;
  --body: #363636;
}
html {
  font-size: 1.2vmax;
}
body {
  background-color: var(--body);
  color: var(--text);
  font-family: 'Roboto', serif;
  font-weight: 400;
}

/* Main page header */
header {
  width: 90%;
  margin: auto;
  height: 17vmax;
  line-height: 17vmax;
  text-align: center;
  background-color: var(--medium);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

h1,
h2,
h3 {
  font-family: 'Russo One';
  color: var(--dark2);
}

/* Page contents container */
main {
  width: 90%;
  margin: auto;
}

/* Scales articles to indicate to the user that they're 
looking at that specific drone */
.grid-item:hover {
  animation: itemsHover 0.2s ease-in forwards;
}
/* *** Description of the animation **** */
@keyframes itemsHover {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.02, 1.02);
  }
}

/******************************** for all screen sizes **************************/

/* ********* Margins ********* */
section h2 {
  margin-top: 0.5%;
}
/* ***************** sections headers ***************** */
section h2 {
  height: 6vmax;
  line-height: 6vmax;

  background-color: var(--dark1);
  color: var(--light1);
  letter-spacing: 0.2rem;
  padding-left: 10%;

  font-size: 2rem;
}
/* *********** Articles and inner elements ********* */
.grid-item {
  margin-top: 0.5%;
  list-style: none;
  border: 1px solid var(--body);
  padding: 10px;
  background-color: white;
}
.grid-item h3 {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.grid-item p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}
.grid-item img {
  width: 50%;
}
.grid-item:nth-child(odd) img {
  float: left;
  margin-right: 5px;
}
.grid-item:nth-child(even) img {
  float: right;
  margin-left: 5px;
}
.grid-item::after {
  content: '';
  clear: both;
  display: block;
}
/* ******************** Grid with floats ******************* */
#grid-floats .grid-item {
  float: left;
}
#grid-floats::after {
  content: '';
  clear: both;
  display: block;
}

/* ******************** Grid with flex ******************* */
#grid-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/************************************** Small screens **************************************/
@media screen and (max-width: 600px) {
  header,
  main {
    width: 99%;
  }
  html {
    font-size: 14px;
  }
}
/************************************** Medium screens *************************************/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  /* ********** Margins ************ */
  .grid-item:nth-child(3n - 2) {
    margin-right: 0.5%;
    margin-left: 0.5%;
  }
  .grid-item:first-child {
    margin-left: 0;
  }
  /********* Arranging floats elements ***********/
  #grid-floats .grid-item {
    height: 27vmax;
    overflow-y: hidden;
  }
  #grid-floats .grid-item {
    width: 33%;
  }
  #grid-floats .grid-item:nth-child(1),
  #grid-floats .grid-item:nth-child(2) {
    width: 49.75%;
    height: 20vmax;
  }

  /***** Arranging flex elements *****/
  #grid-flex .grid-item {
    flex-basis: 33%;
  }
  #grid-flex .grid-item:nth-child(1),
  #grid-flex .grid-item:nth-child(2) {
    flex-basis: 49.75%;
  }
}
/**************************************** Large screens ***************************************/
@media screen and (min-width: 1024px) {
  /* ********** Margins ************ */
  .grid-item:nth-child(2n + 1) {
    margin-right: 0.25%;
  }
  .grid-item:nth-child(2n) {
    margin-left: 0.25%;
  }
  .grid-item:nth-child(4n) {
    margin-right: 0.5%;
  }
  /********* Arranging floats elements ***********/
  #grid-floats .grid-item {
    height: 30vmax;
    overflow-y: hidden;
  }
  #grid-floats .grid-item {
    width: 24.625%;
  }
  #grid-floats .grid-item:nth-child(1),
  #grid-floats .grid-item:nth-child(2) {
    width: 49.75%;
    height: 20vmax;
  }

  /***** Arranging flex elements *****/
  #grid-flex .grid-item {
    flex-basis: 24.625%;
  }
  #grid-flex .grid-item:nth-child(1),
  #grid-flex .grid-item:nth-child(2) {
    flex-basis: 49.75%;
  }
}
