/* for the header */
@font-face {
  font-family: 'Russo One';
  src: url('fonts/Russo_One/RussoOne-Regular.ttf');
}
/* Black */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}
/* Medium */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
/* Light */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}
/* Thin */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --light0: #fad6d7;
  --light1: #fd979a;
  --light2: #c85457;
  --dark1: #6b0b11;
  --dark2: #420001;
  --medium: #98272b;
  --text: #6c6c6c;
}
html {
  font-size: 16px;
}
body {
  background-color: whitesmoke;
  color: var(--text);
  font-family: 'Roboto', serif;
  font-weight: 400;
}
header {
  background-color: var(--medium);
  color: white;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center; /* Align vertically */
  justify-content: center; /* Horizontally */
  font-size: 2.5vmax;
  letter-spacing: 0.5rem;
  box-sizing: content-box;
  border-bottom: 5px solid whitesmoke;
}
h1,
h2,
h3 {
  font-family: 'Russo One';
  color: var(--dark2);
}
h3 {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
ul {
  list-style: none;
}
li:hover {
  animation: itemsHover 0.5s ease-in forwards;
}
main {
  /* background-color: orange; */
  width: 90%;
  margin: auto;
  display: flex;
}
p {
  margin-bottom: 0;
}
section {
  /* background-color: greenyellow; */
}
section h2 {
  background-color: var(--dark1);
  color: var(--light1);
  letter-spacing: 0.2rem;
  padding-left: 10%;
}
section:first-child {
  padding-right: 10px;
  border-right: 1px dotted var(--dark2);
}
section:last-child {
  padding-left: 10px;
}

/******************* Left column *******************/
#grid-floats {
  /* padding-right: 10px; */
}
#grid-floats li:nth-child(odd) img {
  float: left;
}
#grid-floats li:nth-child(even) img {
  float: right;
}
/* #frid-floats p::after {
  content: '<div style="clear: both"></div>'; */
/********************* Right column **********************/
#grid-flex {
}
.grid-item {
  padding: 10px;
  background-color: white;
}
/* Изменить размеры картинок на проценты */
img {
  width: 200px;
  /* transition: 0.5s linear; */
}

/*************** Description of animation *****************/
@keyframes itemsHover {
  from {
    background-color: white;
  }
  to {
    background-color: var(--light0);
  }
}

/*************** Small screens ****************/
@media screen and (max-width: 600px) {
  header {
    height: 70px;
    border-bottom: 3px solid whitesmoke;
  }
  section:first-child {
    padding-right: unset;
    border-right: unset;
  }
  section:last-child {
    padding-left: unset;
  }
  section h2 {
    height: 30px;
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.2rem;
  }
  main {
    flex-direction: column;
  }
  #grid-floats {
    margin-bottom: 30px;
  }

  img {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    transition: 0.5s linear;
  }
}
/***************** Medium screens *********************/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  header {
    height: 80px;
  }
  section h2 {
    height: 30px;
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.2rem;
  }
}
/******************** Large screens ***********************/
@media screen and (min-width: 1024px) {
  header {
    height: 100px;
  }
  section h2 {
    height: 40px;
    font-size: 1.5rem;
    line-height: 40px;
    letter-spacing: 0.3rem;
  }
}
